.admin-bar
    background: #eee

.article-unit
    border-bottom: 1px solid #eee
.article-unit__meta,
.article-unit__tools
    font-size: 0.75rem
.article-unit__tools
    a
        background: $blue
        display: inline-block
        border: 1px solid rgba($blue,1)
        padding: .5rem        
        color: $white
        text-decoration: none   
        border-radius: 100px
        font-size: .8rem    

.admin-form-articulo
.admin-form-articulo__image-upload
    border: 1px dotted #ccc
    border-radius: 5px
    label
        opacity: .8

.ck-editor__editable_inline
    min-height: 200px
    
@include media-breakpoint-up(md)    