
.articulo
    h1
        a
            color: $grey
            text-decoration: none
.articulo__meta
    font-size: .85rem
    text-transform: uppercase
    color: $green
    span
        color: $grey
        opacity: .2
    a
        color: $green    

.articulo__image

.articulo__keywords
    font-size: .8rem
    opacity: .5
    

@include media-breakpoint-up(md)