.button
    background: $blue
    border: 3px solid $blue
    padding: 1rem 2rem    
    color: $white    
    white-space: nowrap
    font-family: $font-secondary        
    cursor: pointer
    border-radius: 100px
    &:hover,
    &:focus,
    &:visited
        text-decoration: none
        color: $white
    &:hover
        background: none
        border: 3px solid $blue
        color: $blue

.button--light
    background: none !important
    border: 3px solid $white
    &:hover
        background: none
        border: 3px solid $white
        color: $white

.button--light-grey
    border: 3px solid #eee
    color: $grey !important
    &:hover        
        border: 3px solid #eee
        color: $grey

 
.button--s
    font-size: .85rem
    padding: .5rem 2rem !important

.button--full-width
    width: 100%

button
    border: none

@include media-breakpoint-up(md)
    .button
        padding: 1rem 3rem