.cabecera    
    width: 100%
    background: rgba($white,1)
    border-bottom: 1px solid rgba($white,.2)
    margin-bottom: 1.5rem

// Navegacion
.navbar-toggler
    border: none
    outline: none

.navbar    
    font-size: 0.875rem
    &.navbar-light       
        .nav-link    
            color: rgba($grey,1)            
            &:hover
                color: $blue
        .active
            position: relative    
            &:after
                content: ''
                display: none
                background: $blue
                height: 6px
                width: 47px
                border-radius: 100px
                position: absolute
                bottom: -5px
                left: 5px    
            .nav-link
                color: $blue
                font-weight: bold

// Extras
.extras    
    a
        background: $blue
        display: inline-block
        border: 1px solid rgba($blue,1)
        padding: .5rem        
        color: $white
        text-decoration: none   
        border-radius: 100px
        font-size: .8rem        
        // &:first-child
        //     border-right: none
        &:hover            
            background: $white
            color: $blue !important            
            border-color: $red     
            border: 1px solid rgba($blue,.3)
        &:focus,
        &:visited            
            color: $white
        &.light
            border: none

@include media-breakpoint-up(md)
    .cabecera
        margin-bottom: 3.3rem
    .navbar
        &.navbar-light               
            .active                
                &:after                    
                    display: block                