.hero
    color: $white
    background-image: url(../img/bg.jpg)
    background-size: cover
    padding: 0 0 3rem 0

.hero__micro-title
    text-transform: uppercase
    font-size: 1.5rem
    font-weight: 300
.hero__title
    font-size: 4rem
    font-weight: 700
    line-height: 100%
    font-family: $font-secondary    
    a
        color: $white
        text-decoration: none
        &:hover,
        &:focus,
        &:visited
            color: $white

.hero__meta
    font-size: .85rem
    text-transform: uppercase
    color: $green
    span
        color: $white
        opacity: .2
    a
        color: $green    

.hero--inner    
    .hero__micro-title
        text-transform: none
        font-weight: 300
    .hero__title        
        font-size: 3rem

    .cabecera
        margin-bottom: 2.5rem

@include media-breakpoint-up(md)
    .hero
        padding: 0 0 5rem 0
    .hero--inner                        
        .cabecera
            margin-bottom: 5rem